body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game{
  position: relative;
  min-height: 95vh;
  width: 98%;
  /*background-color: blue;*/
  margin-left: auto;
  margin-right: auto;
  border:  2px solid black;
  color: blue;
  z-index:  0;
}

.cardWrap{
  transform-origin: center;
  position: absolute;
}

.board{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #381f00;
  background-image: url("./images/wood-pattern.png");
  color: rgb(200,50,50);
  text-align: center;
  z-index: -1;
}

.counter{
  position: absolute;
  border:  2px solid black;
  background-color: rgb(150,150,150);
  width:  100px;
  line-height: 50px;
  height: 50px;
  text-align: right;
  transform:  translate(-50%, -50%);
  transform-origin: center;
}

.counter span{
  display: inline-block;
  vertical-align:  middle;
  line-height:  normal;
}

.counter button{
  width: 20px;
}

.button-bar-top{
  position: absolute;
  top: -17px;
  right: 0;
}
.button-bar-bottom{
  position: absolute;
  bottom: -17px;
  right: 0;
}

.deck-form{
  position: absolute;
  bottom: 0%;
}

label{
  /*-webkit-text-stroke: 1px white;*/
  color: black;
}